body {
    font-family: 'Gentium Basic', serif;
    font-size: 18px;
    background: url("../images/what-the-hex-dark.png");
    color: whitesmoke;
    text-align: center;
}

h1 {
    font-family: 'Eczar', serif;
}

.number {
    font-size: 24px;
}

img {
    width: 15%;
}

